body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}


.logo {
    width: 500px; /* Taille du logo agrandie */
    height: auto;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h3 {
    color: rgb(255, 0, 0);
    font-size: 250%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 60%;
    padding-bottom: 5%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery a {
    display: block;
}

.gallery img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
